<div>
    <h1 class="logo">Spotify search</h1>
    <div class="search-box">
		<input type="text" [value]="query" placeholder="Search artist, album, track" #newquery (keydown.enter)="search(newquery.value)">
    	<button (click)="submit(newquery.value)">Search</button>
	</div>
    <div *ngIf="results">
        <div *ngIf="!results.length" class="no-data">
            No results found for <strong>{{ query }}</strong>
        </div>
        <div *ngIf="results.length">
            <h3>Results</h3>
			<div class="row">
				<ng-container *ngFor="let t of results; let _in = index;">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
						<div class="thumbnail">
							<div class="content">
								<img src="{{ t.album.images[0].url }}" alt="" class="img-responsive full-width">
								<div class="inner">
									<div class="caption">
										<a title="{{ t.artists[0].name }}" [routerLink]="['/artists', t.artists[0].id]">Artist: <strong>{{ t.artists[0].name }}</strong></a>
										<a title="{{ t.album.name }}" [routerLink]="['/albums', t.album.id]">Album: <strong>{{ t.album.name }}</strong></a>
										<p><a title="{{ t.name }}" [routerLink]="['/tracks', t.id]">Track: <strong>{{ t.name }}</strong></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="divider" *ngIf="((_in + 1) % 6) == 0 && windowWidth >= 1200"></div>
					<div class="divider" *ngIf="((_in + 1) % 3) == 0 && windowWidth >= 992 && windowWidth < 1200"></div>
					<div class="divider" *ngIf="((_in + 1) % 2) == 0 && windowWidth >= 768 && windowWidth < 992"></div>
					<div class="divider" *ngIf="((_in + 1) % 1) == 0 && windowWidth < 768"></div>
				</ng-container>
			</div>
        </div>
    </div>
</div>